html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.row {
  margin: 0; }

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto; }

.nav_menu {
  width: 100vw; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: transparent;
  border-color: transparent; }

.navbar-collapse.collapse {
  float: left; }

a:hover {
  text-decoration: none;
  color: black; }

a:focus {
  text-decoration: none;
  color: black; }

a:active {
  text-decoration: none;
  color: black; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3); }

.nav > li > a {
  padding: 0; }

.nav.navbar-nav {
  margin-top: 30px;
  margin-left: 8em;
  position: relative; }

.nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: strech; }

.menu_link {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  letter-spacing: 1.67px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100; }

.menu_item {
  display: inline-block;
  margin: 20px 25px 0 0;
  color: rgba(0, 0, 0, 0.3); }
  .menu_item:last-child {
    padding-right: 10px; }

.inner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }

.hero {
  font-family: 'Fira Sans';
  background-color: #fff; }

.tittle_text {
  position: absolute;
  height: 80%;
  align-self: flex-start;
  z-index: 2; }

.tittle {
  font-size: 85px;
  font-weight: bold;
  line-height: 90px;
  width: 60%;
  margin: 27px 0 22px 0; }

.tittle_descript {
  font-size: 30px;
  font-weight: 200;
  width: 45%;
  line-height: 40px; }

.tittle_pic_w {
  height: 90%;
  position: relative;
  top: -20px;
  z-index: 1; }

.tittle_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left; }

.about {
  background-image: url(../img/bg_about.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fira Sans';
  color: white; }

.about_descript {
  width: 100%; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

.process {
  background-image: url(../img/process.jpg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fira Sans';
  color: white; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

.company {
  background-image: url(../img/bg_comp.png);
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fira Sans';
  color: black; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

#portfolio {
  font-family: 'Fira Sans'; }

.inner_wrapper__port.row {
  height: 100%;
  width: 100vw; }

.carouseltittle {
  text-align: center;
  width: 100%;
  padding: 40px 0 0 0;
  position: relative; }

.item > ul {
  list-style: none; }

.item.item_video {
  background-color: #4A90E2; }

.item.item_animation {
  background-color: #4A90E2; }

.item.item_design {
  background-color: #F5A623; }

.item.item_direction {
  background-color: #F5A623; }

.owl-carousel {
  color: white;
  display: block;
  background-color: transparent; }

.owl-carousel.owl-theme.owl-loaded.owl-drag {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.owl-nav {
  position: absolute;
  bottom: 30px; }

.carousel_link {
  text-decoration: none;
  color: white; }

.carousel_nav__item {
  padding: 1em;
  display: block;
  width: 40%;
  margin-top: 40px; }

.nav_wrap {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
  padding: 2em 5em 7em 5em; }

.left_part {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 120px; }

.right_part {
  margin-bottom: 1em; }

.owl-carousel .owl-item img {
  width: 45px; }

.carousel_pic {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  object-fit: cover; }

.owl-nav {
  display: block; }

.owl-dots {
  display: none; }

.outlet {
  margin-top: 5em;
  margin-bottom: 5em;
  height: 60%; }

.outlet_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center left;
  margin-bottom: 60px; }

.btn.btn-default {
  margin-top: 45px;
  margin-bottom: 45px; }

.btn-default {
  border-color: black;
  width: 10em;
  height: 60px;
  font-size: 24px;
  font-weight: 100;
  transition: ease .5s;
  line-height: 44px; }

.out_dis {
  display: none; }

.outlet_wrap {
  position: relative;
  width: 100vw;
  height: 80vh; }

.outlet_port {
  position: relative; }

.contacts {
  background-color: #F5A623;
  background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Fira Sans';
  color: white; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

.inner_wrapper.contacts_wrapper.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
    width-margin-bottom: 40px; }

.left_part_c {
  float: left;
  margin-bottom: 40px; }

.right_part_c {
  margin-bottom: 60px; }

.descript_block {
  margin-bottom: 20px; }

.map {
  margin-top: 40px;
  width: 100%;
  min-height: 400px; }

.caption_block {
  margin-top: 40px; }

.about_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

.caption_block {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase; }

.tittle_block {
  font-size: 85px;
  font-weight: 600;
  line-height: 90px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.tittle_block_out {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0;
  margin-bottom: 30px;
  word-wrap: break-word; }

.descript_block {
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0; }

.carouseltittle {
  font-size: 48px;
  font-weight: 400; }

.carousel-nav_tittle {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px; }

.carousel-nav_descript {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px; }

.footer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color: #292929;
  position: relative;
  bottom: 0;
  color: white;
  font-family: 'Fira Sans'; }

.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  line-height: 200px; }

/* Large desktop */
@media (min-width: 1200px) {
  .left_part {
    margin-bottom: 60px; } }

@media (min-width: 979px) and (max-width: 1200px) {
  .tittle_block {
    font-size: 60px;
    line-height: 70px; }
  .tittle {
    font-size: 60px;
    line-height: 70px; } }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
  .tittle_block {
    font-size: 50px;
    line-height: 60px; }
  .tittle {
    font-size: 50px;
    line-height: 60px; }
  .nav.navbar-nav {
    margin-left: 0px; }
  .navbar-collapse.collapse {
    padding: 0;
    margin-left: 10px; }
  .left_part {
    margin: 0 200px 24px 60px; }
  .nav_wrap {
    padding: 2em 0em 7em 5em; }
  .outlet_pic {
    display: none; }
  .inner_wrapper.contacts_wrapper.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
      width-padding: 0 3em; }
  .footer_wrapper {
    padding: 3em 1.5em; }
  .tittle_block_out {
    font-size: 40px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0;
    margin-bottom: 30px;
    word-wrap: break-word; } }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .tittle_block {
    font-size: 40px;
    line-height: 50px; }
  .tittle {
    font-size: 40px;
    line-height: 50px; }
  .tittle_descript {
    font-size: 20px;
    line-height: 26px; }
  .nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column; }
  .nav.navbar-nav {
    margin-left: 15px; }
  .tittle_block {
    font-size: 40px;
    line-height: 44px; }
  .descript_block {
    font-size: 18px;
    line-height: 20px; }
  .carouseltittle {
    font-size: 22px;
    line-height: 22px; }
  .carousel-nav_tittle {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 15px; }
  .carousel-nav_descript {
    font-size: 14px;
    line-height: 14px; }
  .nav_wrap {
    padding: 0; }
  .carousel_nav__item {
    margin-top: 0px;
    margin-right: 20px;
    padding: 2em 0em; }
  .left_part {
    margin: 0 30px 10px 10px; }
  .outlet_pic {
    display: none; }
  .inner_wrapper.contacts_wrapper.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
      width-padding: 0 3em; }
  .footer_wrapper {
    padding: 3em 1em; }
  .tittle_block_out {
    font-size: 35px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0;
    margin-bottom: 30px;
    word-wrap: break-word; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .tittle_block {
    font-size: 30px;
    line-height: 33px; }
  .tittle {
    font-size: 40px;
    line-height: 40px; }
  .tittle_descript {
    font-size: 16px;
    line-height: 20px; }
  .menu_link {
    font-size: 12px;
      font-size-letter-spacing: 1px; }
  .carousel_nav__item {
    margin: 0 20px -5px 20px;
    width: 100%; }
  .owl-theme .owl-nav {
    bottom: -1em; }
  .left_part {
    margin: 0 30px 50px 10px; }
  .outlet_pic {
    display: none; }
  .tittle_block_out {
    font-size: 24px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0;
    margin-bottom: 26px;
    word-wrap: break-word; } }
