@import typo
.about
  display: flex
  align-items: center
  width: 100%
  position: relative
  //padding: 8em 0

.about_desc
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.about_pic
  justify-self: flex-end