.contacts
    background-color: $yellow
    background-position: bottom left
    background-size: cover
    background-repeat: no-repeat
    font-family: 'Fira Sans'
    color: white
    margin-top: 5em

@import typo
.inner_wrapper.contacts_wrapper.row
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	height: 100%
	width: 100vw
    margin-bottom: 40px

.left_part_c
    float: left
    margin-bottom: 40px
.right_part_c
    margin-bottom: 60px
.descript_block
    margin-bottom: 20px

.map
    margin-top: 40px
    width: 100%
    min-height: 400px
.caption_block
    margin-top: 40px