@import typo
.navbar.navbar-default.navbar-fixed-top
  background-color: #fff
.line
  background-color: $blue
  height: 10px
  width: 100%
  position: relative
  top: 0
  z-index: 100

.nav_item
  &:hover
    background-color: #EBE8E8
    color: black
    transition: .3s ease
  >a
   text-decoration: none


.nav_link
  border-left: 1px solid #EBEBEB
  border-top: 1px solid #EBEBEB
  padding: 2.5em
  margin: 0
  text-transform: uppercase
  color: #A1A1A1
  &:hover
    background-color: #EBE8E8
    color: black
    transition: .3s ease

.navbar-brand
  height: 100%
  padding: 6px 15px





