
.inner_wrapper
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 100%
  width: 100%
  position: relative
  padding-top: 150px
.hero_img
  margin-bottom: 3em

.about_desc
  margin-bottom: 1em

.btn.btn-default
  width: 100%
  background-color: $yellow
  border: none
  color: white
  font-family: "Fira Sans"
  font-weight: 200
  box-shadow: 0 5px 15px  rgba(0, 0, 0, .4)
  border-radius: 5px
  &:hover
    background-color: $blue


	
