/* Large desktop */
@media (min-width: 979px) and (max-width: 1200px) 
    .tittle_block 
        font-size: 60px
        line-height: 70px
    .tittle
        font-size: 60px
        line-height: 70px
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)
    .tittle_block 
        font-size: 50px
        line-height: 60px
    .tittle
        font-size: 50px
        line-height: 60px
    .nav.navbar-nav
	    margin-left: 0px
    .navbar-collapse.collapse
        padding: 0
        margin-left: 10px
/* Landscape phone to portrait tablet */
@media (max-width: 767px)
    .tittle_block 
        font-size: 40px
        line-height: 50px
    .tittle
        font-size: 40px
        line-height: 50px
    .tittle_descript
        font-size: 20px
        line-height: 26px
    .nav
	    display: flex
	    align-items: stretch
	    justify-content: space-between
	    flex-direction: column
    .nav.navbar-nav
	    margin-left: 15px
    .tittle_block
        font-size: 40px
        line-height: 44px
    .descript_block
        font-size: 18px
        line-height: 20px

/* Landscape phones and down */
@media (max-width: 480px)
    .tittle_block 
        font-size: 30px
        line-height: 33px
    .tittle
        font-size: 40px
        line-height: 40px
    .tittle_descript
        font-size: 16px
        line-height: 20px
    .menu_link
	    font-size: 12px
        letter-spacing: 1px
    
