@import typo
#portfolio
    font-family: 'Fira Sans'

.inner_wrapper__port
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: strech
	height: 100vh
	width: 100vw
    

.carouseltittle
    text-align: center
    width: 100%
    margin: 40px 0 0 0
.item>ul
    list-style: none
    

.owl-carousel
    color: white
    display: block
    background-color: $blue
.carousel_link
    text-decoration: none
    color: white
.carousel_nav__item
    padding: 1em
    display: block
    width: 40%
    margin-top: 40px

.nav_wrap
    display: flex
    flex-flow: row wrap
    align-content: space-around
    justify-content: center
    padding: 2em 5em

.left_part
    float: left
    margin-right: 20px
    height: 100%
    margin-top: 20px
.owl-carousel .owl-item img
    width: 45px

.carousel_pic
    width: 45px
    height: 45px
    border-radius: 50px
.owl-nav
    display: block