@import typo
#portfolio
    font-family: 'Fira Sans'

.inner_wrapper__port
	// display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: strech
	height: 100vh
	width: 100vw
    

.carouseltittle
    text-align: center
    width: 100%
    padding: 40px 0 0 0
    position: relative
.item>ul
    list-style: none
.item.item_video
    background-color: $blue
.item.item_animation
    background-color: $blue
.item.item_design
    background-color: $yellow
.item.item_direction
    background-color: $yellow


.owl-carousel
    color: white
    display: block
    background-color: rgba(0, 0, 0 ,0)
    
.owl-carousel.owl-theme.owl-loaded.owl-drag
    display: flex
    justify-content: center
    align-items: flex-end
    
.owl-nav
    position: absolute
    bottom: 30px
.carousel_link
    text-decoration: none
    color: white
.carousel_nav__item
    padding: 1em
    display: block
    width: 40%
    margin-top: 40px

.nav_wrap
    display: flex
    flex-flow: row wrap
    align-content: space-around
    justify-content: center
    padding: 2em 5em 7em 5em

.left_part
    float: left
    margin-right: 20px
    margin-top: 20px
.right_part
    margin-bottom: 1em

.owl-carousel .owl-item img
    width: 45px

.carousel_pic
    width: 45px
    height: 45px
    border-radius: 50px
    object-fit: cover
.owl-nav
    display: block
.owl-dots
    display: none

.outlet
    margin-top: 5em
    margin-bottom: 5em
    height: 60%

    
    
.outlet_right

.outlet_pic
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center left
.btn.btn-default
    margin-top: 45px
    