@import typo

.portfolio
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%
  position: relative
  //padding: 18em 0 5em 0
  -webkit-background-size: cover
  background-size: cover
  background: url("../img/bg1.png") no-repeat 100% 0%
.text_header.col-md-10
  width: 80%
  margin-bottom: 0
  padding-top: 80px
.sw_wrap
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
.swiper-container
  height: 400px
  width: 80%
  margin-top: 5em
.swiper-wrapper
  position: relative
.swiper-slide
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center
  height: 100%
  width: 270px



.swiper_link
  z-index: 20
  width: 100%
  height: 100%
  text-decoration: none
  color: white
  padding: 0 3em
  display: flex
  flex-direction: column
  justify-content: center
  opacity: 0
  &:hover
    background-color: rgba($blue, .6)
    transition: .7s ease
    opacity: 1
    color: white
    text-decoration: none
.sw_img
  height: 100%
  width: 100%
  object-fit: cover
  position: absolute



.swiper-button-prev,
.swiper-button-next
  background-color: black
  padding: 2em
  border-radius: 5px
  color: white
  position: absolute
  top: 50%




.btn.btn-default
  margin-top: 45px
  margin-bottom: 45px

.btn-default
  width: 10em
  height: 60px
  font-size: 24px
  font-weight: 100
  transition: ease .5s
  line-height: 44px






