@import url('https://fonts.googleapis.com/css?family=Prata')
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,400,500,600')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600')

.about_wrapper
    display: flex
    flex-direction: row

$blue: #4A90E2
$black: #292929
$yellow: #F5A623

.hero_tittle
  font-family: "Prata"
  font-size: 64px
  line-height: 1.2em
  margin-bottom: 30px
.text_header
  font-family: "Prata"
  font-size: 48px
  line-height: 1.2em
  margin-bottom: 32px
  width: 100%
.text_descript
  font-family: "Open Sans"
  font-size: 24px
  font-weight: 300
  line-height: 1.2em
  margin-bottom: 16px
.swiper_link__tittle
  font-family: "Open Sans"
  font-weight: 600
  font-size: 32px
  line-height: 1.2em
.swiper_link__desc
  font-family: "Open Sans"
  font-weight: 300
  font-size: 20px
  line-height: 1.2em


