html,body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	
	
.row
	margin: 0	
.wrapper
	width: 100%
	height: 100%
	margin: 0 auto
	


@import header
@import hero
@import about
@import process
@import company
@import portfolio
@import contacts
@import footer


@import media