<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Наука за Минуту
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,400,500,600")
    body

        section.case_header
            .inner_wrapper_n.row.case_hero_st
                .case_nav
                    .descript_block.casenav.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        a(href="index.html") << Медиацентр БФУ им. И. Канта
                .case_hero.nauka_case
                    .tittle_block.col-md-10.col-md-offset-1 «Наука за Минуту»
                    .descript_block.col-md-8.col-md-offset-1 «Наука за минуту» — серия короткометражных роликов, посвящённых современной научной картине мира. Увлекательная форма повествования делает полезный контент лёгким для восприятия.  Проект рассчитан на массовую аудиторию, не обладающую специальными знаниями. 
            section.container
                .text_case
                    .descript_block
                    |Задача: оформить научно-популярный проект для YouTube!
                    .descript_block
                    |«Наука за минуту» — серия короткометражных роликов, посвящённых современной научной картине мира. Увлекательная форма повествования делает полезный контент лёгким для восприятия.  Проект рассчитан на массовую аудиторию, не обладающую специальными знаниями.
                    .descript_block
                    |Для съёмок использовалась камера Blackmagic URSA Mini Pro, позволяющая создать привлекательную и современную картинку. Динамичную манеру речи ведущего дополняет инфографика и разнообразный фон.
                .img_case    
                    img(src="../img/case/nauka/prog.jpg").case_img
                    .case_caption Выпуск, посвящённый генетическому программированию
                .img_case    
                    img(src="../img/case/nauka/go.jpg").case_img
                    .case_caption Выпуск, посвящённый интеллектуальному противостоянию машин и людей
                .text_case
                    .descript_block 
                    |Некоторые планы полностью созданы из 3d-объектов и призваны разнообразить повествование художественными фрагментами. Это увеличивает воздействующий потенциал видео.
                .img_case    
                    img(src="../img/case/nauka/nauka_case.jpg").case_img
                    .case_caption Сцена «Матч Каспарова и Deep Blue»
                .img_case    
                    img(src="../img/case/nauka/dvoj.jpg").case_img
                    .case_caption Сцена «Расстояние до наших двойников во Вселенной»
                .text_case
                    .descript_block 
                    |Важная роль отведена разработке превью-картинок: на основании превью зритель может как посмотреть ролик, так и отказаться от просмотра
                .img_case    
                    img(src="../img/case/nauka/dvoyniki.jpg").case_img
                    .case_caption Превью «Двойники»
                .img_case
                    img(src="../img/case/nauka/bg.jpg").case_img
                    .case_caption Превью «Вирусы»
                .text_case
                    .descript_block
                    |Проект выполнен в программах Adobe After Effects, Adobe Premiere Pro и Maxon Cinema 4d.
                    .descript_block 
                    |Посмотреть результат можно 
                    a(href="https://www.youtube.com/playlist?list=PLRumQVDaAar0FDX7X_yCnvAxZTZsehB01") здесь
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="js/main.js")
        script(src="js/bootstrap.min.js")