<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Наука за Минуту
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:100,200,400,500,600")
    body

        section.case_header
            .inner_wrapper_n.row.case_hero_st
                .case_nav
                    a.text_descript.casenav(href="index.html") Назад
                    .text_descript.casenav.upp(href="index.html") Воскресенье
                    .overlay
                .case_hero.vosk_case
                    .hero_tittle.col-md-10.col-md-offset-1 Воскресенье
                    .text_descript.col-md-8.col-md-offset-1 “Воскресенье” - телепрограмма выходящая на канале “Каскад” в Калининграде. Программа о Калининграде и калининградцах, о регионе без политики.
            section.container
                .text_case
                    .text_descript Задача: съемка и монтаж телевизионной передачи.
                    .text_descript Одной из первостепенных задач была необходимость в создании заставки программы и разработке виртуальной студии.
                    .text_descript Для заставки были использованы кадры панорам города, снятые с квадрокоптера.
                .img_case    
                    img(src="../img/case/vosk/img1.jpg").case_img
                    .case_caption фото заставки с надписью Воскресенье
                .text_case
                    .text_descript Для передачи была разработана виртуальная студия, поэтому съёмки материала проходили с использованием технологии хромакеинг.
                .img_case    
                    img(src="../img/case/vosk/img2.jpg").case_img
                .img_case    
                    img(src="../img/case/vosk/img3.jpg").case_img
                    .case_caption фото виртуальной студии. Вид сверху
                .img_case
                    img(src="../img/case/vosk/img4.jpg").case_img
                .img_case
                    img(src="../img/case/vosk/img5.jpg").case_img
                .text_case
                    .text_descript Дополнительное использование графики и анимированные элементы сделали видеоряд более разнообразным.
                .img_case
                    img(src="../img/case/vosk/img6.jpg").case_img
                .img_case
                    img(src="../img/case/vosk/img7.jpg").case_img
                    .case_caption стилизованные экраны для экспертов
                .img_case
                    img(src="../img/case/vosk/img8.jpg").case_img
                .img_case
                    img(src="../img/case/vosk/img9.jpg").case_img
                    .case_caption галлограмма и трансформер
                .img_case
                    img(src="../img/case/vosk/img10.jpg").case_img
                    .case_caption Для декабрьского выпуска была создана объемная модель ели, которая добавила новогоднего настроения.
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="js/main.js")
        script(src="js/bootstrap.min.js")