section.about.alig#about
    .in_wrapper.row.container-fluid.mt
        .about_desc.col-md-5.col-sm-12.col-xs-12
            .text_header Эффективно решаем задачи
            .text_descript Мы используем современное и мощное оборудование для создания наших продуктов. В рабочем арсенале есть все необходимое для их реализации. Команда состоит из операторов, монтажеров, дизайнеров, мультипликаторов, художников и специалистов по работе с 3D.
        .about_pic.col-md-offset-1.col-md-4.col-sm-8.col-xs-8
            img.in_img(src="../../img/about_img.svg")