//section.about.company.alig#company
//    .in_wrapper.row.container-fluid
//        .about_desc.col-md-5.col-sm-12.col-xs-12
//            .text_header Нам доверяют
//            .text_descript Крупные компании Калининграда и области доверяют нам свои проекты. Также мы работаем с другими компаниями России и Европы.
//        .about_pic.col-md-offset-1.col-md-4.col-sm-10.col-xs-12
//            img.in_img(src="../../img/company.png")