section.contacts#contacts
    .inner_wrapper.contacts_wrapper.row
        .left_part_c.col-md-3.col-sm-10.col-xs-10
            .caption_block Контакты
            .descript_block Заходите к нам в гости в офис в Калининграде на улице Фрунзе, дом 6, 6 этаж
            .descript_block Либо позвоните по телефону 8 (911) 123-45-67
            .descript_block Или напишите письмо на адрес mediabfu@gmail.com
            .descript_block К нам можно прийти с понедельника по пятницу с 10 утра до 8 вечера
        .right_part_c.col-md-offset-1.col-md-6.col-sm-10.col-xs-10
            iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2304.900824506796!2d20.519361951895732!3d54.711367980191014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e3160da33f20c7%3A0x5b3791288d492dcd!2z0YPQuy4g0KTRgNGD0L3Qt9C1LCA2LCDQmtCw0LvQuNC90LjQvdCz0YDQsNC0LCDQmtCw0LvQuNC90LjQvdCz0YDQsNC00YHQutCw0Y8g0L7QsdC7LiwgMjM2MDA2!5e0!3m2!1sru!2sru!4v1516890275692" frameborder="0" style="border:0" allowfullscreen)