section.hero.alig#hero
    .inner_wrapper.row.container-fluid
        .hero_img.col-md-5.col-md-offset-1.col-sm-10.col-xs-10.col-xs-offset-0
            img.in_img.img-fluid(src="../../img/hero_img.svg")
        .hero_descript_block.col-md-4.col-md-offset-1.col-sm-12.col-xs-offset-0.col-xs-12
            .hero_tittle Место полезных решений
            .text_descript Привет, мы — команда Медиацентра, мы создаем и развиваем полезные продукты в&nbsp;цифровой среде
            button.btn.btn-default(type ="button", data-toggle="modal", data-target="#call") Связаться с нами


