section.hero#hero
	.inner_wrapper.row
			.tittle_text
				.tittle Медиацентр — это студия,
				.tittle_descript где мы создаем полезные продукты в цифровой среде.
			.tittle_pic_w.col-md-10.col-sm-10.col-xs-10
				img.tittle_pic(src="../img/bg.jpg", alt="")