section.portfolio#portfolio
    .inner_wrapper__port.row
        .tittle_block.nav_tit.top_tit 
            .tit Проекты
        .nav_wraper 
            ul.port_nav
                li.one.nauka
                    a.one_link(href="#nauka") 
                        .caption_block.nav_cap ТВ-Передача
                        .descript_block.nav_block «Наука за&nbsp;минуту»
                li.one.bond
                    a.one_link(href="#bond") 
                        .caption_block.nav_cap Реклама
                        .descript_block.nav_block «Джеймс Бонд»
                li.one.vosk
                    a.one_link(href="#vosk") 
                        .caption_block.nav_cap ТВ-Передача
                        .descript_block.nav_block «Воскресенье»
                li.one.litra
                    a.one_link(href="#litra") 
                        .caption_block.nav_cap ТВ-Передача
                        .descript_block.nav_block «Живая Литература»
                li.one.fraz
                    a.one_link(href="#fraz") 
                        .caption_block.nav_cap Проект
                        .descript_block.nav_block «Живая фразеология»
                //- li.one
                //-     a.one_link(href="#nauka") 
                //-         .caption_block.nav_cap ТВ-Передача
                //-         .descript_block.nav_block «Наука за минуту»
                //- li.one
                //-     a.one_link(href="#nauka") 
                //-         .caption_block.nav_cap ТВ-Передача
                //-         .descript_block.nav_block «Наука за минуту»
            

        section.outlet_port
            .outlet_wrap#nauka
                .outlet.outlet_nauka
                    .outlet_left.col-md-5.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        .caption_block ТВ-Передача
                        .tittle_block_out «Наука за&nbsp;минуту»
                        .descript_block Почему мы все в матрице и как не рассыпаться на молекулы? в «Науке за минуту» профессорский состав БФУ им. И. Канта достпуно объяснит все самые загадочные явления нашего мира.
                        a.btn.btn-default(href='../../nauka.html',role='button') Подробней
                    .outlet_right.col-md-5.col-sm-10.col-xs-10.col-md-pull-1.col-sm-pull-1.col-xs-pull-1
                        img.outlet_pic(src="../../img/outlet_pic/nauka.jpg")
            .outlet_wrap#bond
                .outlet.outlet_bond
                    .outlet_left.col-md-5.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        .caption_block Реклама
                        .tittle_block_out «Джеймс Бонд»&nbsp;АвтоDepo
                        .descript_block АвтоDepo – один из крупнейших калининградских автосервисов. Владельцы захотели снять стильное видео, в котором будут показаны основные услуги, предлагаемые компанией.
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-5.col-sm-10.col-xs-10.col-md-pull-1.col-sm-pull-1.col-xs-pull-1
                        img.outlet_pic(src="../../img/outlet_pic/bond.jpg")
            .outlet_wrap#vosk
                .outlet.outlet_bond
                    .outlet_left.col-md-5.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        .caption_block ТВ-Передача
                        .tittle_block_out.vosk_t «Воскресенье»
                        .descript_block Передача о Калининграде и калининградцах
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-5.col-sm-10.col-xs-10.col-md-pull-1.col-sm-pull-1.col-xs-pull-1
                        img.outlet_pic(src="../../img/outlet_pic/vosk.png")
            .outlet_wrap#litra
                .outlet.outlet_bond
                    .outlet_left.col-md-5.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        .caption_block ТВ-Передача
                        .tittle_block_out «Живая литература»
                        .descript_block «Живая литература» — серия монологов известного культуролога и филолога Владимира Гильманова, посвященная ключевым произведениям русской литературы.
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-5.col-sm-10.col-xs-10.col-md-pull-1.col-sm-pull-1.col-xs-pull-1
                        img.outlet_pic(src="../../img/outlet_pic/litra.jpg")
            .outlet_wrap#fraz
                .outlet.outlet_bond
                    .outlet_left.col-md-5.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                        .caption_block Мультфильм
                        .tittle_block_out «Живая фразеология»
                        .descript_block Проект «Живая фразеология» – это короткие образовательные мультфильмы о русских фразеологизмах (например, как собака на сене или подложить свинью), предназначенные для студентов, изучающих русский язык как иностранный, а также для детей – носителей языка. 
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-5.col-sm-10.col-xs-10.col-md-pull-1.col-sm-pull-1.col-xs-pull-1
                        img.outlet_pic(src="../../img/outlet_pic/fraz.jpg")
