section.portfolio#portfolio
    .inner_wrapper__port.row
        .owl-carousel.owl-theme
            .item.item_video 
                .carouseltittle  Видеопродакшн
                ul.videoproduction.nav_wrap
                    li.carousel_nav__item
                        a.carousel_link(href="#bond")
                            .left_part
                                img.carousel_pic(src="../../img/pic/bond.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle Реклама «Джеймс Бонд»
                                .carousel-nav_descript Ролик для Калининградского магазина автомобилей
                    li.carousel_nav__item
                        a.carousel_link(href="#nauka")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item
                        a.carousel_link(href="#vosk")
                            .left_part
                                img.carousel_pic(src="../../img/pic/wosk.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Воскресенье»
                                .carousel-nav_descript Региональная тв-передача о жизни города, его людях и событиях
                    li.carousel_nav__item
                        a.carousel_link(href="#litra")
                            .left_part
                                img.carousel_pic(src="../../img/pic/maxresdefault.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Живая Литература»
                                .carousel-nav_descript Телепередача об особенностях русской литературы и ее великих авторов
            .item.item_design
                .carouseltittle Дизайн и Анимация
                ul.videoproduction.nav_wrap
                    li.carousel_nav__item
                        a.carousel_link(href="#fraz")
                            .left_part
                                img.carousel_pic(src="../../img/pic/fraz.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle Проект «Живая фразеология»
                                .carousel-nav_descript Серия мультипликационных роликов о русских фразеологизмов
                    li.carousel_nav__item
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/wosk.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Воскресенье»
                                .carousel-nav_descript Региональная тв-передача о жизни города, его людях и событиях
                    li.carousel_nav__item
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/maxresdefault.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Живая Литература»
                                .carousel-nav_descript Телепередача об особенностях русской литературы и ее великих авторов  
        section.outlet_port
            .outlet_wrap#nauka
                .outlet.outlet_nauka.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                    .outlet_left.col-md-3.col-sm-10.col-xs-10
                        .caption_block ТВ-Передача
                        .tittle_block_out «Наука за минуту»
                        .descript_block Что такое черные дыры, и где те самые переходы между «струнами»? Почему мы все в матрице и как не рассыпаться на молекулы? в «Науке за минуту» профессорский состав БФУ им. И. Канта достпуно объяснит все самые загадочные явления нашего мира. Только наука, только правда.
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-offset-1.col-md-7.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
                        img.outlet_pic(src="../../img/outlet_pic/nauka.jpg")
            .outlet_wrap#bond
                .outlet.outlet_bond.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                    .outlet_left.col-md-3.col-sm-10.col-xs-10
                        .caption_block Реклама
                        .tittle_block_out «Джеймс Бонд» - АвтоDepo
                        .descript_block АвтоDepo – один из крупнейших калининградских автосервисов. Владельцы захотели снять стильное видео, в котором будут показаны основные услуги, предлагаемые компанией.
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-offset-1.col-md-7.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
                        img.outlet_pic(src="../../img/outlet_pic/bond.jpg")
            .outlet_wrap#vosk
                .outlet.outlet_bond.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                    .outlet_left.col-md-3.col-sm-10.col-xs-10
                        .caption_block ТВ-Передача
                        .tittle_block_out.vosk_t «Воскресенье»
                        .descript_block Передача о Калининграде и калининградцах
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-offset-1.col-md-7.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
                        img.outlet_pic(src="../../img/outlet_pic/vosk.png")
            .outlet_wrap#litra
                .outlet.outlet_bond.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                    .outlet_left.col-md-3.col-sm-10.col-xs-10
                        .caption_block ТВ-Передача
                        .tittle_block_out «Живая литература»
                        .descript_block «Живая литература» — серия монологов известного культуролога и филолога Владимира Гильманова, посвященная ключевым произведениям русской литературы.
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-offset-1.col-md-7.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
                        img.outlet_pic(src="../../img/outlet_pic/litra.jpg")
            .outlet_wrap#fraz
                .outlet.outlet_bond.col-md-offset-1.col-sm-offset-1.col-xs-offset-1
                    .outlet_left.col-md-3.col-sm-10.col-xs-10
                        .caption_block Мультфильм
                        .tittle_block_out «Живая фразеология»
                        .descript_block Проект «Живая фразеология» – это короткие образовательные мультфильмы о русских фразеологизмах (например, как собака на сене или подложить свинью), предназначенные для студентов, изучающих русский язык как иностранный, а также для детей – носителей языка. 
                        a.btn.btn-default(href='#',role='button') Подробней
                    .outlet_right.col-md-offset-1.col-md-7.col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10
                        img.outlet_pic(src="../../img/outlet_pic/fraz.jpg")
