section.portfolio#portfolio
    .inner_wrapper__port.row
        .owl-carousel.owl-theme
            .item 
                .carouseltittle  Видеопродакшн
                ul.videoproduction.nav_wrap
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/bond.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle Релама «Джеймс Бонд»
                                .carousel-nav_descript Ролик для Калининградского магазина мужской одежды
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
            .item Наука за Минуту
            .item item
            .item item
