section.portfolio#portfolio
    .inner_wrapper__port.row
        .owl-carousel.owl-theme
            .item.item_video 
                .carouseltittle  Видеопродакшн
                ul.videoproduction.nav_wrap
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/bond.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle Релама «Джеймс Бонд»
                                .carousel-nav_descript Ролик для Калининградского магазина мужской одежды
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/wosk.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Воскресенье»
                                .carousel-nav_descript Региональная тв-передача о жизни города, его людях и событиях
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/maxresdefault.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Живая Литература»
                                .carousel-nav_descript Телепередача об особенностях русской литературы и ее великих авторов
            .item.item_design
                .carouseltittle  Видеопродакшн
                ul.videoproduction.nav_wrap
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/bond.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle Релама «Джеймс Бонд»
                                .carousel-nav_descript Ролик для Калининградского магазина мужской одежды
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/space.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Наука за минуту»
                                .carousel-nav_descript Научно-популярная тв-передача о физике, химии, астрономии
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/wosk.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Воскресенье»
                                .carousel-nav_descript Региональная тв-передача о жизни города, его людях и событиях
                    li.carousel_nav__item.clearfix 
                        a.carousel_link(href="#")
                            .left_part
                                img.carousel_pic(src="../../img/pic/maxresdefault.jpg", alt="")
                            .right_part
                                .carousel-nav_tittle ТВ-Передача «Живая Литература»
                                .carousel-nav_descript Телепередача об особенностях русской литературы и ее великих авторов  
            .item.item_animation item
            .item.item_direction item
        .outlet.outlet_nauka
            .outlet_left.col-md-offset-1.col-md-3
                .caption_block ТВ-Передача
                .tittle_block «Наука за минуту»
                .descript_block Что такое черные дыры, и где те самые переходы между «струнами»? Почему мы все в матрице и как не рассыпаться на молекулы? в «Науке за минуту» профессорский состав БФУ им. И. Канта достпуно объяснит все самые загадочные явления нашего мира. Только наука, только правда.
                a.btn.btn-default(href='#',role='button') Подробней
            .outlet_right.col-md-offset-1.col-md-6
                img.outlet_pic(src="../../img/outlet_pic/nauka.jpg")
